main {
    padding: 1rem;
    max-width: 90%;
    margin: 0 auto;
}

.back-link {
    display: inline-block;
    margin: 1rem 0;
    color: blueviolet;
}

.project-detail {
    background-color: white;
    padding: 2rem;
    border: 2px solid gray;
    border-radius: 12px;
    margin-top: 2rem;
}

.project-detail h1 {
    color: rgb(196, 52, 196)
}

.project-section {
    margin-top: 2rem;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}

.project-section ul {
    padding-left: 1.5rem;
}

@media (min-width: 768px) {
    .project-detail {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .project-detail {
        max-width: 60%;
    }
}

